:root {
   --color-white: #FFFFFF;
   --color-purple: #6D2080;
   --color-gray: #8D8D8D;
   --color-gblack: #454545;
   --color-black: #000000;
   --color-green: #02AE99;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-fluid {
    position: relative;
    width: 100%;
    top: 307.01px;
    left: 71.99px;
    right: 71.99%;
    height: 181px;
    width: 316px;
    border-radius: 0px;

}


/* Espaços */
/* avaliar a necessidade */
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* NAVBAR -- Cabeçalho*/
.navbar {
    position: absolute;
    left: 0%;
    right: 0%;
    top:0%;
    bottom: 0%;  
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1500px;
    height: 100px;
    align-items: center;
}

/* NAVBAR - Logo Principal_MOVA */ 

.navbar-logo {
    position: absolute;
    left: 3.07%;
    right: 90.8%;
    top: 19%;
    bottom: 19.34%;
}

.navbar-return{
    position: absolute;
    left: 86.6%;
    right: 4.47%;
    top: 32%;
    bottom: 32%;
}
.btn-return_button {
    width: 134px;
    height: 36px;
    top: 32px;
    left: 1299px;

    /* Rectangle 148 */

    border: 1px solid var(--color-purple);
    box-sizing: border-box;
    background: var(--color-white);

    /* Content */
    
    color:var(--color-purple);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

/* Filtros */

.filter {
    position: absolute;
    width: 316px;
    height: 41.01px;
    left: 176px;
    top: 218px;
}

.filter-content {
    position: absolute;
    left: 5.38%;
    right: 43.99%;
    top: 0%;
    bottom: 56.11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-purple);
}

.custom-select {
    /* Escolha uma opção */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-gray);
}

/* Botão Pesquisar */

.btn-search_button {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 988px;
    right: 356px;
    top: 25px;
    bottom: 0%;

    background: #6D2080;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-white);

}

/* Main */

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem
}

.card {
    left: 176px;
    top: 307.01px;
    gap: 2rem;
}

.card img {
    height: 181px;
    width: 316px;
}

/* não funcionou */

@media (max-width: 1000px){
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem
    }
}

@media (max-width: 750px){
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 600px){
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}
